<html>
  <head>
    <title>Купить {{ item.name }}</title>
  </head>
  <body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <button id="buy-button">Купить</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe("{{ STRIPE_PUBLISHABLE_API_KEY }}");
        var buyButton = document.getElementById("buy-button");
        buyButton.addEventListener("click", function() {
            fetch("{{ api_request_url }}", {
              method: 'GET'})
                .then(function(response) {
                    return response.json();
                }).then(function (data) {
                    return(data[0]);
            })
                .then(function(session_id) {
                    return stripe.redirectToCheckout({ sessionId: session_id });
                    }
                )
                .then(function(result) {
                    if (result.error) {
                        console.log(result.error.message);
                    }
                }
                )
        });
    </script>

  </body>
</html>
